<div class="game">
  <div class="stage">
    <div *ngFor="let card of spaces; let i = index" class="card" (click)="onPut(i)" [class.put]="putCards[i]">
        <div class="number"> {{ putCards[i] }} </div>
    </div>
  </div>
  <div class="deck"> 
    <div class="number"> {{ num }} </div>
  </div>
  <div *ngIf="isGameOvered" class="gameover" >
    <div class="msg">
      GameOverだよ!<br>
      Score: {{score}}<br>
      <mat-icon fontSet="fa" fontIcon="fa-ghost" inline></mat-icon>
      </div>
  </div>
  <div *ngIf="completed" class="gameover" >
      <div class="msg">
        Amazing!<br>
        Score: 25<br>
        <mat-icon fontSet="fa" fontIcon="fa-hat-wizard" inline></mat-icon>
        </div>
      </div>
</div>
